// Compass

@import 'compass/css3';

// Twitter Bootstrap
@import "bootstrap";

// Partials
@import 'partials/colors';
@import 'partials/buttons';

* {
  -moz-box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  @include bg;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family:'proxima-nova', Proxima Nova, 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  text-rendering: optimizelegibility;
  color: $txt_color;
  font-size: 16px;
  line-height: 1.4;
}

p, a, h1, h2, h3 {
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

p , pre, dl, menu, ol, ul, figure {
  margin-top: 1.3em;
  margin-bottom: 1.3em;
}

li > ul {
  margin-top: 0;
  margin-left: 1.3em;
}

h1, h2, h3 {
  color: $heading_color;
  font-weight: normal;
}

header h1 {
  border-top: 5px solid $drk_color;
  border-bottom: 5px solid $drk_color;
  padding: 1.3em 0px;
}

.main {
  padding-top: 1.3em;
}

.hide {
  display: none;
}

.cover {
  float: right;
  margin-left: 5%;
}

.or {
  padding: 14px;
}

.why 
{
  border-top: 1px solid $hr_color;
  text-align: center;
}

.learn li {
  list-style: disc outside none;
}
